# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock.bak

# Среды разработки
.idea/
.vscode/
*.iml
*.swp

# Системные
.DS_Store
Thumbs.db

# Сборки
*.apk
*.aab
*.ipa

# Локальные настройки Android
**/android/local.properties
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks
